/* Reset Code Start */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* Reset Code End */
/* Code For Header Area Start */
.header_banner {
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
}
.hb_content {
  text-align: end;
  margin-right: 250px;
}
/* Header Title */
.hb_content h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
}
/* Header Description */
.hb_content p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.hb_content button {
  width: 150px;
  height: 65px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #0763ae;
}
/* Code For Header Area End */
/* Code For Main Area Start */
main {
  /* Section For My Failures  */
  .my_failures{

  }
}
/* Code For Main Area End */
/* Code For Footer Area Start */
footer {
}
/* Code For Footer Area End */
