/* Reset Code Start */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* Reset Code End */
/* Code For Header Area Start */
.header_banner {
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 150px;
}
.hb_content {
  text-align: end;
  margin-right: 250px;
}
/* Header Title */
.hb_content h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
}
/* Header Description */
.hb_content p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.primary_button {
  width: 150px;
  height: 65px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #0763ae;
}
.primary_button:hover {
  background-color: #0763ae;
  border: 1px solid #fff;
  color: #fff;
}
/* Code For Header Area End */
/* Section For My Failures  */
.my_failures {
  width: 1200px;
  margin: 0 auto;
}
.mf_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mf_item img {
  margin-right: 200px;
}
.mf_text h2 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 40px;
}
.mf_text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}
.mf_text_list {
  list-style: none;
}
.mf_text .fa-check {
  color: #61e4ad;
  font-size: 20px;
  margin-right: 10px;
}
.mf_text_list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
}
/* Section For My Plans */
.my_plans {
  width: 1200px;
  margin: 0 auto;
  padding-top: 150px;
}
.mp_title {
  margin-bottom: 80px;
}
.mp_title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.mp_content {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.mp_content_item {
}
.mp_content_item img {
}
.mp_content_item h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
.mp_content_item p {
  font-size: 25px;
}
/* Section For Call Now */
.call_now {
  padding-top: 150px;
  width: 1200px;
  margin: 0 auto;
}
.cn_banner {
  background-image: url("../images/watch.png"), linear-gradient(to right, rgb(0, 95, 171, 1), rgb(255, 255, 2554, 0.1));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  padding-top: 50px;
  padding-left: 70px;
}
.cn_banner h1 {
  color: #fff;
  font-weight: 700;
  font-size: 38px;
}
.cn_banner button {
}
/* Code For Footer Area Start */
footer {
  margin-top: 150px;
}
/* Code For Footer Area End */
